.animal-species-create-section {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
  width: 46.7vw;
  max-width: 46.7vw;
  align-items: center;
}

.curiosities-info {
  font-weight: 500;
  margin: 60px 0px 0px 0px;
  padding: 10px;
  font-size: 18px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
}
.curiosities-info:hover {
  background-color: var(--second-color);
  border: solid 2px var(--first-color);
}
