ui-animal-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.animals-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
  overflow-x: auto;
  width: 95vw;
  max-width: 95vw;
}
.animal__list {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.animal__list--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px var(--second-color);
  border-radius: 5px;
  max-width: 303px;
  max-height: 350px;
  margin: 10px;
}

.ui-animal-title {
  padding-left: 10px;
  margin: 10px 0px;
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  cursor: pointer;
}
.ui-animal-title:first-letter {
  text-transform: uppercase;
}

.ui-animal-subtitle {
  padding-left: 10px;
  text-transform: lowercase;
  cursor: pointer;
}

.ui-animal-subtitle:first-letter {
  text-transform: uppercase;
}

.ui-animal-img {
  width: 300px;
  max-height: 280px;
  margin: 10px 0px 0px 0px;
  flex-grow: 2;
  cursor: pointer;
}
