.animal-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
  width: 46.7vw;
  max-width: 46.7vw;
  align-items: center;
}
