.animals-selector-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  max-width: 95vw;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__list--item {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
  cursor: pointer;
}
.nav__list--item:hover {
  background-color: var(--second-color);
  border: solid 2px var(--second-color);
}
.nav__list--item--selected {
  background-color: var(--second-color);
  border: solid 2px var(--second-color);
}
