.forms {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form__label {
  font-weight: 500;
  margin: 10px 0px;
  font-size: 18px;
}

.form__label--input {
  width: 250px;
  height: 35px;
  margin-left: 20px;
  border: solid 2px var(--second-color);
  border-radius: 5px;
  cursor: pointer;
}
