.header {
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  height: 500px;
  margin-bottom: 10px;
}
