:root {
  --first-color: #ffffff;
  --second-color: #3ad97a;
  --third-color: #584335;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--third-color);
}
